.App {
  text-align: center;
}

.fade-in {
  position: relative;
  animation: slideIn 0.9s ease-out forwards;
  opacity: 0; /* Ustawiamy początkową przezroczystość na 0 */
}
 
@keyframes slideIn {
  0% {
      transform: translateY(200%); /* Początkowa pozycja tekstu (na dole) */
      opacity: 0; /* Tekst niewidoczny */
  }
  100% {
      transform: translateY(0); /* Końcowa pozycja tekstu (na górze) */
      opacity: 1; /* Tekst widoczny */
  }
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.borderSW{
  border: 2px solid white;
  border-color: rgb(6, 9, 10);
  border-radius: 15px;
}